<div>
  <h2 id="page-heading" data-cy="MaterialDanioHeading">
    <span jhiTranslate="reparacionesApp.materialDanio.home.title">Material Danios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reparacionesApp.materialDanio.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material-danio"
        [routerLink]="['/material-danio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reparacionesApp.materialDanio.home.createLabel">Crear nuevo Material Danio</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (materialDanios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="reparacionesApp.materialDanio.home.notFound">Ningún Material Danios encontrado</span>
    </div>
  }

  @if (materialDanios && materialDanios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigo">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.materialDanio.codigo">Codigo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cantidadPedida">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.materialDanio.cantidadPedida">Cantidad Pedida</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="observacion">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.materialDanio.observacion">Observacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (materialDanio of materialDanios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/material-danio', materialDanio.id, 'view']">{{ materialDanio.id }}</a>
              </td>
              <td>{{ materialDanio.codigo }}</td>
              <td>{{ materialDanio.cantidadPedida }}</td>
              <td>{{ materialDanio.observacion }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/material-danio', materialDanio.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/material-danio', materialDanio.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(materialDanio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
