<div>
  <h2 id="page-heading" data-cy="MaterialHeading">
    <span jhiTranslate="reparacionesApp.material.home.title">Materials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reparacionesApp.material.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material"
        [routerLink]="['/material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reparacionesApp.material.home.createLabel">Crear nuevo Material</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (materials?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="reparacionesApp.material.home.notFound">Ningún Materials encontrado</span>
    </div>
  }

  @if (materials && materials.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigo">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.codigo">Codigo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorUnitario">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.valorUnitario">Valor Unitario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="stock">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.stock">Stock</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activo">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.activo">Activo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creadoPor">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.creadoPor">Creado Por</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaCreacion">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.fechaCreacion">Fecha Creacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actualizadoPor">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.actualizadoPor">Actualizado Por</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaModificacion">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.fechaModificacion">Fecha Modificacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="categoria.nombre">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.categoria">Categoria</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="materialDanio.id">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.materialDanio">Material Danio</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="materialReporteControl.id">
              <div class="d-flex">
                <span jhiTranslate="reparacionesApp.material.materialReporteControl">Material Reporte Control</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (material of materials; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/material', material.id, 'view']">{{ material.id }}</a>
              </td>
              <td>{{ material.codigo }}</td>
              <td>{{ material.nombre }}</td>
              <td>{{ material.valorUnitario }}</td>
              <td>{{ material.stock }}</td>
              <td>{{ material.activo }}</td>
              <td>{{ material.descripcion }}</td>
              <td>{{ material.creadoPor }}</td>
              <td>{{ material.fechaCreacion | formatMediumDate }}</td>
              <td>{{ material.actualizadoPor }}</td>
              <td>{{ material.fechaModificacion | formatMediumDate }}</td>
              <td>
                @if (material.categoria) {
                  <div>
                    <a [routerLink]="['/catalogo-item', material.categoria.id, 'view']">{{ material.categoria.nombre }}</a>
                  </div>
                }
              </td>
              <td>
                @if (material.materialDanio) {
                  <div>
                    <a [routerLink]="['/material-danio', material.materialDanio.id, 'view']">{{ material.materialDanio.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (material.materialReporteControl) {
                  <div>
                    <a [routerLink]="['/material-reporte-control', material.materialReporteControl.id, 'view']">{{
                      material.materialReporteControl.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/material', material.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(material)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
